@font-face {
    font-family: 'icofont';
    src: url('../fonts/icofont.eot') format('embedded-opentype'),
    url('../fonts/icofont.ttf') format('truetype'),
    url('../fonts/icofont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.icofont {
    font-family: 'IcoFont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icofont-coins:before {
    content: "\ea73";
}
.icofont-deal:before {
    content: "\ea76";
}
.icofont-cur-taka:before {
    content: "\eae6";
}
.icofont-support:before {
    content: "\ea83";
}
.icofont-emo-heart-eyes:before {
    content: "\ebb6";
}
.icofont-growth:before {
    content: "\ea78";
}
.icofont-idea:before {
    content: "\ea7a";
}
.icofont-users:before {
    content: "\ede4";
}
.icofont-runner-alt-1:before {
    content: "\ee82";
}
.icofont-runner-alt-2:before {
    content: "\ee83";
}
.icofont-runner:before {
    content: "\ee84";
}
.icofont-business-man-alt-1:before {
    content: "\edc8";
}
.icofont-business-man-alt-2:before {
    content: "\edc9";
}
.icofont-business-man-alt-3:before {
    content: "\edca";
}
.icofont-business-man:before {
    content: "\edcb";
}
.icofont-code-not-allowed:before {
    content: "\efbd";
}
.icofont-code:before {
    content: "\efbe";
}
.icofont-light-bulb:before {
    content: "\f04a";
}
.icofont-ui-touch-phone:before {
    content: "\ed68";
}
.icofont-pixels:before {
    content: "\f0a0";
}
.icofont-ui-video-play:before {
    content: "\ed70";
}
.icofont-social-facebook:before {
    content: "\ee08";
}
.icofont-social-google-plus:before {
    content: "\ee11";
}
.icofont-social-pinterest:before {
    content: "\ee23";
}
.icofont-social-skype:before {
    content: "\ee2b";
}
.icofont-social-twitter:before {
    content: "\ee34";
}



