@import 'icofont.css';
* {
    margin: 0;
    padding: 0;
}

.floatleft {
    float: left;
}

.floatrigt {
    float: right;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0px solid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}

p {
    color: #888
}

body {
    font-size: 14px;
    line-height: 22px;
    font-family: 'montserratlight';
}

a,
a:hover,
a:focus {
    -webkit-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
    text-decoration: none;
    outline: none;
}

ol li,
ul li {
    list-style: outside none none;
}

img {
    height: auto;
    max-width: 100%;
}

.special_feature_area{
    text-align: center;
}

.section_padding_100_70{
    padding-top: 100px;
    padding-bottom: 70px;
}
.section_padding_100{
    padding: 100px 0;
}

header{
    height: 90px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    min-width: 1200px;
    z-index: 9999;
}

.loge_area{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*vertical-align: middle;*/
}

.loge_area img{
    vertical-align: middle;
}

.main_menu_area{
    float: right;
}

.main_menu_area ul li{
    display: inline-block;
    position: relative;
}

.main_menu_area li a{
    display: block;
    padding: 34px 15px;
    font-size: 13px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.feature_icon{
    display: inline-block;
    text-align: center;
    line-height: 70px;
    transition-duration: 500ms;
    border: 3px solid #3f51bf;
    border-radius: 50%;
    color: #3f51bf;
    width: 70px;
    height: 70px;
    margin: 0 auto 20px;
}
.feature_icon i{
    font-size: 36px;
}

.color_3f51bf{
    color: #3f51bf;
}
.color_FF9800{
    color: #FF9800;
}
.color_2196F3{
    color: #2196F3;
}
.color_E91E63{
    color: #E91E63;
}

.background_color_3f51bf{
    background-color: #3f51bf;
}
.background_color_FF9800{
    background-color: #FF9800;
}
.background_color_2196F3{
    background-color: #2196F3;
}
.background_color_E91E63{
    background-color: #E91E63;
}